@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: #2ab2af;
    --bright-yellow: #c0df34;
    --light-gray: #e9f1f6;
    --grayish-blue: #98a6bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Karla', sans-serif;
}